name: Validate and Test

on:
  workflow_dispatch:
  pull_request:
    branches:
    - '*'
  push:
    branches:
    - '*'
  release:
    types:
      - published

jobs:
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Setup
      run: pip install black
    - name: Lint with black
      run: |
        black --version
        black --check --diff .
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Setup
      run: pip install flake8
    - name: Lint with flake8
      run: |
        flake8 --version
        flake8
  isort:
    name: isort
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Setup
      run: pip install isort[colors]
    - name: Lint with isort
      run: isort --check --diff .

  tests:
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    needs: [isort, black, flake8]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      name: Install Python
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Setup dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pipx pytest

    - name: Build and Install Package
      run: |
        python -m pip install -e .

    - name: Test with pytest
      run: |
        python -m pytest tests